@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Roboto+Slab:wght@700&display=swap');

* {
  font-family: 'Dongle', sans-serif;
  font-family: 'Roboto Slab', serif;
}

*:hover {
  cursor: default;
}

.passbtn {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background: rgb(121, 121, 121);
  width: 30px;
  height: 60px;
  width: 60px;
  margin: 15px;
  border-radius: 5px;
  border: solid 2px transparent;
  transition: ease-in-out 0.2s;
}

.passbtnstar {
  padding-top: 1px;
  font-size: 20px;
}

.passbtn:hover {
  border: solid 2px white;
  border-radius: 10px;
}

body {
  padding: 0px;
  margin: 0px;
}

main {
  background: rgb(37, 37, 37);
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.passholder {
  position: fixed;
  display: flex;
  background: chartreuse;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  background: rgb(80, 80, 80);
  flex-wrap: wrap;
  left: 50%;
  top: 50%;
  width: 300px;
  border-radius: 5px;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
  transform: translate(-50%, -50%);
}

.buttonholder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.attempt {
  border: solid 2px white;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.attemptholder {
  width: 90%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.attempts {
  display: none;
}

.passbtnstar h3{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  padding-left: 2px;
}