@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Roboto+Slab:wght@700&display=swap');

* {
  font-family: 'Dongle', sans-serif;
  font-family: 'Roboto Slab', serif;
}

*:hover {
  cursor: default;
}

.maintext {
  color: white;
  background: rgb(80, 80, 80);
  border-radius: 5px;
}

.item {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.loader {
  display: none;
  width: 40px;
  height: 40px;
  animation: spin infinite 1s ;
  border-radius: 55px;
  background: none;
  border: 5px solid white;
  border-top: solid 5px rgb(37, 37, 37);
}

@keyframes spin {
  0% {
    transform: rotate(-360deg);
  }
}

.passbtn {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background: rgb(121, 121, 121);
  width: 30px;
  height: 60px;
  width: 60px;
  margin: 15px;
  border-radius: 5px;
  border: solid 2px transparent;
  transition: ease-in-out 0.2s;
}

.passbtnstar {
  padding-top: 1px;
  font-size: 20px;
}

.passbtn:hover {
  border: solid 2px white;
  border-radius: 10px;
}

body {
  padding: 0px;
  margin: 0px;
}

main {
  background: rgb(37, 37, 37);
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.passholder {
  margin-top: 10px;
  display: flex;
  background: chartreuse;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: rgb(80, 80, 80);
  flex-wrap: wrap;
  width: 300px;
  border-radius: 5px;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 5px;
  animation: loaddown linear .4s;
}

.buttonholder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.attempt {
  border: solid 2px white;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.attemptholder {
  width: 90%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.attempts {
  display: none;
}

.passbtnstar h3{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  padding-left: 2px;
}

.attempt.shake {
  animation: shake ease-in-out .3s infinite;
  border-color: rgb(226, 82, 56);
  background: rgb(226, 82, 56) ;
}

@keyframes loaddown {
  0% {
    opacity: 0;
    top: 40%;
  }
  
}
@keyframes loadup {
  0% {
    opacity: 0;
    transform: translateY(45px);
  }
  
}


@keyframes shake {
  0%{
    transform: rotatez(-10deg);
  }
  25%{
    transform: rotatez(10deg);
  }
  50% {
    transform: rotatez(-10deg);
  }
  75% {
    transform: rotatez(10deg);
  }
  100%{
    transform: rotatez(-10deg);
  }
}

.attempt.green {
  background: rgb(54, 122, 66);
  border-color: rgb(54, 122, 66);
  
}

@media only screen and (max-width: 800px){
  .passbtn {
    width: 40px;
    height: 40px;
  }
  .passholder {
    width: 250px;
  }
  .maintext {
    font-size: 13px;
  }
}