    <!-- svg logo here -->
    <div class="nav-left">
        <div page="/profile" class="nav-link container logo" >
            <img  class="profile" src="https://avatars.githubusercontent.com/u/81574573?v=4">
        </div>
    </div>
    <div class="nav-main">
        <div page="/Projects" class="nav-link">Projects</div>
        <div page="/" class="nav-link">landing</div>
        <div page="/journal" class="nav-link">journal</div>
    </div>
    <div class="nav-right">
        <div page="/contact" class="nav-link">contact</div>
    </div>