.navbar {
    z-index: 1;
    position: fixed;
    background: rgb(0, 0, 0, .5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 100%;
}



.navbar::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #161616;
    /* Scale down to achieve a sub-pixel width */
}

.navbar>div {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: max-content;
    text-align: center;
    justify-self: center;
    line-height: 40px;
}

.navbar>div>div {
    color: var(--button-hover-background-secondary);
    font-size: .875rem;
    padding: 0 20px;
    width: 90px;
    cursor: pointer;
    border-bottom: 0px solid transparent;
    transition: 0.3s;
}

.navbar>div>div:hover {
    border-bottom: 1px solid var(--button-hover-background-secondary);
    color: var();
}

.navbar>div>div:active {
    color: var(--font-color);
    border-bottom: 1px solid var(--primary-color);
}

.navbar>div>div.active {
    color: var(--font-color);
    border-bottom: 1px solid var(--primary-color);
}

.nav-main {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.nav-right {
    position: absolute;
    right: 0;
    transform: translate(-20px, 0);
}

.nav-left {
    left: 0;
    width: 80px;
}

.nav-left .container img {
    opacity: .5;
    transition: 0.3s ease; 
}

.nav-left .container{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid transparent;
}

.nav-left .container.active img{ 
    opacity: 1;
}

.navbar a.align-right {
    justify-self: right;
}

.logo:hover img{
    cursor: pointer;
    opacity: 1;
}

.profile {
    height: 100%;
    border-radius: 100%;
}